body{
    background-color: rgb(180, 245, 116);
    text-align:center;

}
div{
    text-align:center;
    display:flex;
    flex-direction: row;
    justify-content: center;
}

li{
    background-color: lavenderblush;
    margin:5px auto;
    list-style: none;

}